[submodule "Buildscript/Tools/PowerCore"]
	path = Buildscript/Tools/PowerCore
	url = https://github.com/adoprog/Sitecore-PowerCore.git
[submodule "Buildscript/Tools/PSake"]
	path = Buildscript/Tools/PSake
	url = https://github.com/psake/psake.git
[submodule "buildscript/tools/DeploymentHelpers"]
	path = buildscript/tools/DeploymentHelpers
	url = https://github.com/adoprog/Sitecore-Deployment-Helpers
